{% extends "layout.html" %} {% block title %} Code-Doojo {% endblock %} {% block headblock %}Code-Dojo{% endblock %} {% block
body %}
<div class=flash>Welcome!</div>
<br>
<div class=navi align="center">
    <td><a href="/request-counter"><button id=get_request type="button">GET-Request</button></a></td>
    &emsp;
    <td><a href="/request-counter"><button id=post_request type="button">POST-Request</button></a></td>
    &emsp;
    <td><a href="/statistics"><button id=statistics_button type="button">Statistics</button></a></td>
</div>

{% endblock %}